<h3>New Contact</h3>
<div class="well">
  <label for="new-contact-name">Contact Name</label>
  <input id="new-contact-name" type="text" name="name" value="" placeholder="New Contact Name">
  <label for="new-contact-email">Contact E-Mail</label>
  <input id="new-contact-email" type="email" name="email" value="" placeholder="New Contact E-mail">
  <label for="new-contact-phone">Contact Phone Number</label>
  <input id="new-contact-phone" type="phone" name="phone" value="" placeholder="New Contact Phone Number">
  <label for="new-contact-twitter">Contact Twitter Username</label>
  <input id="new-contact-twitter" type="text" name="twitter" value="" placeholder="New Contact Twitter Username">
  <label for="new-contact-linkedin">Contact LinkedIn Username</label>
  <input id="new-contact-linkedin" type="text" name="linkedin" value="" placeholder="New Contact LinkedIn">
  <label for="new-contact-info">Identifying Information</label>
  <textarea id="new-contact-info" name="info" rows="8" cols="40" placeholder="Other Identifying Information"></textarea>
  <input class="btn btn-success" type="submit" name="submit" value="Submit">
</div>
