
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.contact-list {
  padding: 0;
}
.new-contact-form input,
.new-contact-form textarea {
  width: 95%;
}

.new-contact span {
  display: block;
}

.new-contact {
  margin-top: 20px;
  border: 1px solid black;
  list-style: none;
  padding: 0 10px 10px 10px;
}
